@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    font-family: 'Dosis', sans-serif ;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(3, 2, 4, 0.5);
}

ol {
    font-size: 18px;
    line-height: 160%;
}
:root {
    --yellow: rgba(46, 11, 95, 0.457);
}

body {
     /* linear-gradient(0.5turn,hsl(287, 100%, 2%), hsl(261, 59%, 39%),hsl(291, 8%, 54%), rgb(161, 161, 182),rgb(54, 54, 106), rgba(97, 162, 211, 0.763)  ); */
    color: white;
    background: repeating-linear-gradient(
        190deg,
        hsl(287, 100%, 2%) 40px,
        hsl(261, 59%, 39%) 80px,
        hsl(291, 8%, 54%) 120px,
        rgb(161, 161, 182) 160px,
        rgba(97, 162, 211, 0.763) 200px,
        rgba(160, 74, 221, 0.5) 240px,
        rgba(238, 130, 238, 0.5) 280px,
        rgba(10, 3, 22, 0.5) 300px
      ), repeating-linear-gradient(
        -190deg,
        hsl(287, 100%, 2%)  30px,
        hsl(261, 59%, 39%) 60px,
        hsl(291, 8%, 54%) 90px,
        rgb(161, 161, 182) 120px,
        rgba(97, 162, 211, 0.763) 150px,
        rgba(160, 74, 221, 0.5) 180px,
        rgba(238, 130, 238, 0.5) 210px,
        rgba(10, 3, 22, 0.5) 230px
      ), repeating-linear-gradient(23deg, hsl(287, 100%, 2%) 50px,  hsl(261, 59%, 39%) 100px,  hsl(291, 8%, 54%) 150px,  rgb(161, 161, 182)
          200px, rgba(97, 162, 211, 0.763) 250px, rgba(160, 74, 221, 0.5) 300px, rgba(238, 130, 238, 0.5) 350px, rgba(10, 3, 22, 0.5) 370px);
  }

header {
    padding: 20px;
    background-color: var(--yellow);
    color: black;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px;
}

#highscoreButton {
    font-size:25px;
    padding: 2%;
    border-radius: 18px;
}

button:hover {
    background:#ffffff;
    color: hwb(295 7% 67%);
    transition: background-color 0.5s ease;
    font-size: 20px;
    box-shadow: 2px 2px 4px grey;
    text-decoration: blink;
    padding: 5px;
    border: groove;
    border-color: hsl(290, 100%, 13%);
    border-radius: 20px;
}
    
@media screen and (max-width: 992px) {body}
 